<ion-view view-title="Detalles del miembro">
	<ion-content class="padding">
		<div class="subheader item-thumbnail-left">
			<img src="img/{{person.pic }}" />
			<h2>{{ person.getFullName() }}</h2>
			<i ng-if="person.gender" ng-class="{'ion-male': person.gender=='M', 'ion-female': person.gender=='F'}" class="icon"></i>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<h2>Género:</h2>
				<p>{{ person.getGender() }}</p>
			</div>
			<div ng-repeat="event in personsEvents" class="item item-text-wrap">
				<h2 class="capitalize">{{event.type}}:</h2>
				<p>{{event.getDate() | date:"d 'de' MMMM"}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
