<ion-view view-title="Detalles del miembro">
	<ion-content class="custom-padding">
		<div class="subheader-user">
			<img ng-src="img/{{person.pic }}" />
			<h2>{{person.firstName}} <nobr>{{person.lastName1}} {{person.lastName2}}</nobr></h2>
			<p>{{person.memberLevel}}</p>
			<i ng-if="person.gender" ng-class="{'ion-male': person.gender=='M', 'ion-female': person.gender=='F'}" class="icon"></i>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<h2>Vive en:</h2>
				<p>{{ personsLocation }}</p>
			</div>
			<div ng-repeat="event in personsEvents" class="item item-text-wrap">
				<h2 class="capitalize">{{event.type}}:</h2>
				<p>{{event.getDate() | date:"d 'de' MMMM"}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
